.article-card {
  box-sizing: border-box;
  border: 3px solid black;
  width: 30vw;
  padding: 1vw;
  min-width: 10em;
}

.list-img {
  width: 25vw;
  height: 25vw;
  min-width: 9em;
  min-height: 9em;
}

.small-font {
  font-size: .5em;
}

.pub-auth {
  background-color: lightgrey;
  border: 1px solid black;
}